<!doctype html>
<title>Path: {{ tree.name }}</title>

<a href="javascript:history.back()" style="color:black;
    text-decoration-line:none;"><h1>↵{{ tree.name }}</h1></a>
    {%- if tree.img -%}    
    <img src="{{tree.img}}" style="max-width: 15% ;max-height: 15%;"alt="Poster">
    {%- endif %}
<ul style="
column-count: 3;
column-fill: auto;">
{%- for item in tree.children recursive %}
    <li><a href="{{item.url}}">
            {%- if item.img -%}    
            <img src="{{item.img}}" style="    max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-height: 100%;"alt="Poster"><BR>
            {%- endif %}
        {{ item.name }}</a>
    {%- if item.children -%}
        <ul>{{ loop(item.children) }}</ul>
    {%- endif %}</li>
{%- endfor %}
</ul>